@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes scroll {
0% { transform: translateX(0); }
100% { transform: translateX(-50%); }
}




@keyframes fadeIn {
from { opacity:0; transform:scale(0.9); }
to { opacity:1; transform:scale(1); }
}

.animate-fadeIn {
animation: fadeIn 0.2s ease-in-out;
}


@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: inline-block;
  animation: scrollText 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}